<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<main class="container" *ngIf="weatherData">
  <section class="upper-data">
    <img src="../assets/sunny.jpg" *ngIf="weatherData.main.temp > 15">
    <img src="../assets/night.jpg" *ngIf="weatherData.main.temp <= 15">
    <article class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0'}}°C</div>
    </article>
  </section>
  <section class="lower-data">
    <article class="more-info-label">
      More Information
    </article>
    <article class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.jpg">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}}km/H
        </div>
      </div>

    </article>
  </section>
</main>

<router-outlet></router-outlet>